<section id="experience" class="print:text-sm">
  <h3
    class="mb-10 border-b-1 text-xl font-semibold tracking-wide uppercase print:mb-2 print:text-sm"
  >
    {{ headerText }}
  </h3>
  @for (pos of experience; track $index) {
    <div>
      <div
        class="mb-2 flex justify-between gap-5 border-b-1 border-gray-300 print:mt-2 print:mb-0 print:break-after-avoid-page print:border-gray-700"
      >
        <h4 class="min-w-1/3 font-semibold print:text-xs">
          {{ pos.title }}
        </h4>
        <p class="text-l font-semibold print:text-xs">
          {{ pos.startDate }}&ndash;{{ pos.endDate }}
        </p>
      </div>
      <div class="mb-4 flex gap-7 pb-3 print:mb-0">
        <div class="w-1/3">
          <p
            class="text-l mb-3 text-sm font-bold text-gray-500 print:mb-1 print:text-xs print:font-semibold"
          >
            {{ pos.company }}
          </p>
          <p
            class="font-serif text-sm tracking-tight text-gray-500 italic print:mb-0 print:text-xs"
          >
            {{ pos.summary }}
          </p>
        </div>
        <div class="w-2/3 print:text-xs">
          <ul class="ml-4.5 list-disc">
            @for (accomplishment of pos.accomplishments; track $index) {
              <li class="mb-2">{{ accomplishment }}</li>
            }
          </ul>
        </div>
      </div>
    </div>
  }
</section>
