<div class="max-w-6xl mx-auto p-6 shadow-md rounded-lg bg-white pt-15">
  @if(resumeData) {
  <app-header
    [resumeLocation]="resumeData.location"
    [name]="resumeData.name"
    [title]="resumeData.title"
    [roles]="resumeData.roles"
    [profile]="resumeData.profile"
  >
  </app-header>
  <div class="flex gap-10">
    <app-expertise
      class="min-w-1/4"
      [skills]="resumeData.expertise"
    ></app-expertise>
    <app-experience class="" [experience]="currentExperience"></app-experience>
  </div>
  <div class="flex gap-10">
    <app-contact class="min-w-1/4" [contact]="resumeData.contact"></app-contact>
    <app-education [education]="resumeData.education"></app-education>
  </div>
  }
</div>
<router-outlet />
