<main
  class="mx-auto mt-15 mb-20 max-w-6xl rounded-lg bg-white p-6 pt-15 print:max-w-5xl print:pr-10 print:pl-10 print:shadow-none"
>
  @if (resumeData) {
    <app-header
      [resumeLocation]="resumeData.location"
      [name]="resumeData.name"
      [title]="resumeData.title"
      [roles]="resumeData.roles"
      [profile]="resumeData.profile"
    >
    </app-header>
    <div class="flex gap-10 print:gap-x-5 print:gap-y-2">
      <app-expertise
        class="min-w-1/4 print:min-w-35"
        [skills]="resumeData.expertise"
      ></app-expertise>
      <app-experience
        class=""
        [experience]="currentExperience"
      ></app-experience>
    </div>
    <div class="flex gap-10 print:mt-5">
      <app-contact
        class="min-w-1/4"
        [contact]="resumeData.contact"
      ></app-contact>
      <app-education [education]="resumeData.education"></app-education>
    </div>
  }
</main>
<router-outlet />
