<ul class="mb-5 align-middle">
  @for (skill of list; track $index) {
    <li class="flex justify-between gap-5">
      {{ skill.name }}
      <p>
        <span class="w-2xs text-xl font-semibold text-blue-400 print:text-xs">
          @for (rating of skillLevel(skill.rating); track $index) {
            *
          }
        </span>
        <span class="w-2xs text-xl font-semibold text-gray-300 print:text-xs">
          @for (rating of skillLevelFiller(skill.rating); track $index) {
            &nbsp;&nbsp;
          }
        </span>
      </p>
    </li>
  }
</ul>
