<section id="{{ sectionId }}" class="experience">
  <h3 class="text-xl">{{ title }}</h3>
  <div class="animate mb-4">
    <h4 class="font-bold">
      Web Application Developer <span>January 2006—March 2010</span>
    </h4>
    <p class="text-lg text-gray-600">Babson College—Wellesley, MA</p>
    <ul class="list-disc list-outside">
      <li>
        Recognized for work on high-profile Babson Buzz project. Implemented
        first NCAA form in the country to accept online signatures. Created
        interactive developer tool to enable quick, flexible display of content.
      </li>
    </ul>
  </div>
  <div class="animate mb-4">
    <h4 class="font-bold">
      Senior Full Stack Web Developer <span>June—December 2005</span>
    </h4>
    <p class="text-lg text-gray-600">Digibug Express, Inc.—Waltham, MA</p>
    <ul class="list-disc list-outside">
      <li>
        Successfully developed and delivered customized SaaS e-Commerce
        storefronts and building management portals for clients.
      </li>
    </ul>
  </div>
  <div class="animate mb-4">
    <h4 class="font-bold">
      Senior Full Stack Web Application Developer
      <span>July 1999—June 2005</span>
    </h4>
    <p class="text-lg text-gray-600">Pearson Education—Boston, MA</p>
    <ul class="list-disc list-outside">
      <li>
        Successfully led web application development, championing adoption of
        web standards, reducing costs by streamlining processes that enabled a
        staff of three to maintain 10K+ static HTML pages, and received awards
        for building a customized CMS and a customer-facing bulletin board
        application.
      </li>
    </ul>
  </div>
  <div class="animate mb-4">
    <h4 class="font-bold">
      Full Stack Developer—Freelance <span>April 1998—June 1999</span>
    </h4>
    <p class="text-lg text-gray-600">Sasuga Japanese Bookstore—Cambridge, MA</p>
    <ul class="list-disc list-outside">
      <li>
        Successfully integrated Japanese ordering with POS system by developing
        a bilingual database for tracking orders, as well as converting online
        catalog with data-driven bilingual content.
      </li>
    </ul>
  </div>
</section>
